@import "base.scss";

section.checkout-pending {
	// TODO: Change this to viewport height if screen is tall enough, otherwise put padding
	min-height: 100vh;
	width: 100%;
	padding: 10rem 0;
	background-color: $color-sky;
	display: grid;
	place-content: center;

	position: relative;
	z-index: 0;

	.checkout-pending {
		&__btn {
			margin-top: 3rem;

			@include respond(laptop) {
				margin-top: 2rem;
			}
		}
	}
}

section.checkout-success {
	min-height: 100vh;
	width: 100%;
	background-color: #c9e3a6;

	display: grid;
	place-content: center;
	position: relative;
	z-index: 0;

	.checkout-success {
		&__logo {
			position: absolute;

			@include respond(laptop) {
				width: 28rem;
			}

			&--1 {
				top: -15rem;
				left: -22rem;
				animation: logo 0.3s cubic-bezier(1, 0, 0.11, 1.91) forwards;
				transform: scale(0);

				@include respond(laptop) {
					left: -28rem;
				}
			}

			&--2 {
				top: 8rem;
				left: 48rem;
				animation: logo 0.3s 0.5s cubic-bezier(1, 0, 0.11, 1.91) forwards;
				transform: scale(0);

				@include respond(laptop) {
					left: 48rem;
				}
			}

			&--3 {
				top: 20rem;
				left: -25rem;
				animation: logo 0.3s 1s cubic-bezier(1, 0, 0.11, 1.91) forwards;
				transform: scale(0);

				@include respond(laptop) {
					left: -25rem;
				}
			}
		}

		&__card {
			width: 50rem;
			margin-top: 13.75rem; // ?: To compensate for the -ve margin in img-container
			height: 50rem;
			background-color: white;
			color: $color-magenta;
			position: relative;
			z-index: 0;
			padding: 2.8rem;
			padding-top: 0;

			display: grid;
			place-items: center;
			text-align: center;
			row-gap: 2rem;
			border: 4px solid $color-magenta-outline;
		}

		&__img-container {
			background-color: $color-mauve-80;
			border-radius: 50%;
			height: 31.4rem;
			width: 31.4rem;
			display: grid;
			place-content: center;
			margin-top: -15.7rem; // ?: half of the height of the element
			border: 4px solid $color-magenta-outline;
		}

		&__img {
			height: 25rem;
		}

		&__heading {
		}

		&__text {
			font-size: 2rem;
		}

		&__btn {
			font-size: $font-size-1;
		}
	}
}

@keyframes logo {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
