@import "base.scss";

main.container {
	display: grid;
	grid-template-rows: 100vh repeat(3, min-content);
	grid-template-columns: $grid-columns;

	@include respond(laptop) {
		grid-template-columns: $laptop-grid-columns;
	}
}

main.container--faq {
	grid-template-rows: none;
	background-color: $color-linen;
	padding-top: 10rem;
	min-height: 100vh;
	grid-template-rows: 1fr min-content;
}

nav.navbar {
	background-color: $color-linen;
	width: 100%;
	grid-column: full-start / full-end;
	display: grid;
	grid-template-columns: $grid-columns;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.48), 0px 0px 4px rgba(0, 0, 0, 0.12);

	.navbar {
		&__container {
			grid-column: center-start / center-end;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1.8rem 0;
			grid-column: center-start / center-end;

			@include respond(laptop) {
				padding: 2rem 0;
			}

			&--mobile {
				grid-column: 1/ -1;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 0 0.5rem;
				padding: 1.5rem;
			}
		}

		&__nav-logo {
			// transform: scale(0.92);
			margin-right: auto;
			width: 18.7rem;
			height: 6.4rem;

			&--mobile {
				width: 21.6rem;
				height: 7.3rem;
				cursor: pointer;
			}
		}

		&__nav-btn--mobile {
			width: 5.8rem;
			height: 5.8rem;
			border: 3px solid $color-magenta;
			border-radius: 50%;
			position: relative;
			cursor: pointer;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 2.4rem;
				height: 0.4rem;
				background-color: $color-magenta;
				border-radius: 4px;

				&::before,
				&::after {
					content: "";
					display: block;
					background-color: $color-magenta;
					width: 2.4rem;
					height: 0.4rem;
					border-radius: 4px;
					position: absolute;
				}

				&::before {
					top: -0.83rem;
				}

				&::after {
					top: 0.83rem;
				}
			}
		}

		&__connect-btn {
			margin-right: 3rem;
		}
	}
}

footer.footer {
	background-color: $color-sky;
	padding: 9.5rem 0;
	grid-column: 1 / -1;
	color: $color-magenta;

	display: grid;
	grid-template-columns: $grid-columns;

	@include respond(laptop) {
		padding: 5rem 0;
	}

	@include respond(phone) {
		padding: 10rem 2rem;
	}

	.footer {
		&__container {
			grid-column: center-start / center-end;
			display: grid;
			grid-template-rows: repeat(3, min-content);
			grid-template-columns: $grid-columns;
			align-items: center;
			gap: 1.7rem;

			@include respond(phone) {
				grid-template-columns: 1fr;
				text-align: center;
				grid-column: 1 / -1;
				padding: 0 2rem;
				justify-items: center;
			}

			@include respond(tab-port) {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: none;
				text-align: center;

				grid-column: 1 / -1;
				padding: 0 2rem;
				justify-items: center;
			}
		}

		&__logo {
			grid-column: col-start 1 / col-end 1;
			grid-row: 1 / -1;
			width: 26rem;
			height: 8.8rem;

			@include respond(tab-port) {
				order: 1;
				grid-column: 1 / -1;
			}
		}

		&__heading {
			grid-column: col-start 3 / col-end 6;
			font-size: 1.8rem;
			line-height: 1.4;

			@include respond(tab-port) {
				font-size: 3rem;
				margin-bottom: 3rem;
			}
		}

		&__content {
			grid-column: col-start 3 / col-end 7;
			// margin-right: 4rem;
			line-height: 1.5;
			font-size: 2rem;

			@include respond(tab-port) {
				font-size: 3.33rem;
				align-self: start;

				&--1 {
					grid-column: 1 / span 1;
				}

				&--2 {
					grid-column: 2 / span 1;
				}
			}

			@include respond(phone) {
				margin-right: 0;
				grid-column: 1 / -1;
			}
		}

		&__faq {
			grid-column: col-start 8 / col-end 8;
			grid-row: 1 / span 1;
			// margin-left: 2rem;
			font-size: 1.8rem;
			text-decoration: none;

			@include respond(laptop) {
				margin-left: 5rem;
			}

			@include respond(tab-port) {
				margin-top: 8.3rem;
				margin-bottom: 2rem;
			}
		}

		&__icon-container {
			grid-row: 2 / span 1;
			grid-column: col-start 8 / col-end 8;
			align-self: start;

			@include respond(laptop) {
				margin-left: 5rem;
			}

			@include respond(tab-port) {
				margin-bottom: 10rem;
			}
		}

		&__icon {
			cursor: pointer;

			&--2 {
				margin-left: 2.4rem;
			}

			@include respond(tab-port) {
				width: 40px;
				height: 40px;
			}
		}

		@include respond(tab-port) {
			&__logo,
			&__heading {
				grid-column: 1 / -1;
				grid-row: auto;
			}

			&__faq,
			&__icon-container {
				grid-column: auto;
				grid-row: auto;
				align-self: center;
				margin: 5rem 0;
				line-height: 1;

				h4 {
					margin: 0;
				}
			}
		}
	}
}
