@import "base.scss";

$color-input: #643762;

.input {
	outline: none;
	border: 3px solid $color-mauve-60;
	border-radius: 2px;
	color: $color-input;
	font-family: inherit;
	line-height: 1.5;
	margin: 1px;
	// padding: 2rem 1.5rem 0.1rem 1.5rem;
	padding: 20px 15px 1px 15px;
	width: 100%;
	font-size: 18px;

	&:focus {
		border: 4px solid $color-magenta-outline;
		margin: 0;
	}

	&__form-group {
		position: relative;
	}

	&::placeholder {
		color: $color-input;
		opacity: 1;
		font-weight: 300;
	}

	&__label {
		color: $color-magenta;
		transition: all 0.2s;
		position: absolute;
		top: 8px;
		left: 18px;
		font-weight: 300;

		// display: none;
		font-size: 12px;
		visibility: visible;
		opacity: 1;
	}

	&:placeholder-shown {
		padding: 12px 15px;
		font-size: 16px;
	}

	&:placeholder-shown + .input__label {
		color: $color-input;
		font-size: 16px;
		top: 16px;
		visibility: hidden;
		opacity: 0;
	}
}
