@import "base.scss";

.card {
	border: 4px solid $color-magenta-outline;

	border-radius: 4px;
	background-color: white;
	width: 48.5rem;
	// height: 71.7rem;
	color: $color-magenta;
	position: relative;
	z-index: 2;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem;
	}

	&__close-btn {
		cursor: pointer;
	}

	&__image {
		transform: scale(1.2);

		@include respond(laptop) {
			transform: scale(1);
		}

		@include respond(phone) {
			transform: scale(0.75);
		}
	}

	&__image-container {
		background-color: $color-mauve-80;
		display: grid;
		place-content: center;
		border-top: 4px solid $color-magenta-outline;
		border-bottom: 4px solid $color-magenta-outline;
		height: 40rem;

		@include respond(laptop) {
			height: 38rem;
		}
	}

	&__title {
		padding: 2.4rem 1rem;
		border-bottom: 4px solid $color-magenta-outline;
		text-align: center;
	}

	&__available {
		font-size: 2rem;
		font-weight: 300;
		margin-top: 1.5rem;
	}

	&__price {
		padding: 2rem;
		display: grid;
		gap: 1rem 2rem;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: min-content 1fr;
		height: 11.5rem;
	}

	&__detail {
		font-size: $font-size-default;
	}
}

.menu {
	// ?: Height of menu needs to be set otherwise it will take up too much height in safari but no in chrome, firefox
	height: 4rem;

	&__default {
		border: 4px solid $color-magenta-outline;
		border-radius: 4px;
		display: grid;
		grid-auto-flow: column;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		@media (hover: hover) {
			&--not-mobile:hover .menu__chevron {
				background-color: $color-magenta;
			}
		}
	}

	&__default-option {
		display: grid;
		place-content: center;
		height: 4rem;
		padding-left: 1rem;
		font-size: $font-size-1;
	}

	&__chevron {
		border-left: 4px solid $color-magenta-outline;
		height: 100%;
		background-color: white;
	}

	&__options {
		color: $color-magenta;
		background-color: white;
		border-radius: 0 0 4px 4px;

		overflow: hidden;
		max-height: 0;
		border-top: 4px solid $color-magenta-outline;
		border-radius: 0 0 4px 4px;

		transform: translateY(-4px);
		transition: max-height 0.3s, visibility 0.2s;
		visibility: hidden;
	}

	&.active {
		.menu__options {
			max-height: 30rem; // ?: Can be increased if needed, currently can fit 7 options
			visibility: visible;
		}
	}

	&__option {
		display: grid;
		align-items: center;
		height: 4rem;
		padding-left: 1rem;
		font-size: $font-size-1;
		border: 4px solid $color-magenta-outline;
		border-top: none;

		cursor: pointer;

		&:last-child {
			border-radius: 0 0 4px 4px;
		}

		@media (hover: hover) {
			&:hover {
				background-color: $color-magenta;
				color: white;
			}
		}
	}
}
