@import "base.scss";

.card {
	position: relative;
	cursor: pointer;
	margin-bottom: 3rem;
	height: 70.5rem;
	width: 48.5rem;
	perspective: 160rem;

	&--clicked {
		& .card__front {
			transform: rotateY(-180deg);
		}

		& .card__back {
			transform: rotateY(0);
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 0.8rem;
		left: 0.8rem;
		z-index: -1;

		height: 100%;
		width: 100%;
		border: 3px solid $color-magenta-outline;
		border-radius: 4px;
		background: $background-gradient;
		transition: 0.3s all;
	}

	&:hover::before {
		top: 0;
		left: 0;
	}

	&__front,
	&__back {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		backface-visibility: hidden;
		transition: all 0.8s;
		border-radius: 4px;
		border: 4px solid $color-magenta-outline;
		color: $color-magenta;
	}

	&__front {
		background-color: white;

		display: grid;
		grid-template-rows: repeat(2, min-content); // ?: 34.4rem - 4px top and bottom border = 33.6rem
		// grid-template-columns: minmax(min-content, max-content);
		// display: none;
		z-index: 1;

		.card {
			&__image-container {
				background-color: $color-mauve-80;
				display: grid;
				place-content: center;
				grid-column: 1 / -1;
				grid-row: 1 / span 1;
				height: 47.7rem;
			}

			&__image {
				width: 100%;
				height: 100%;
				transform: scale(1.5);
			}

			&__btn {
				grid-column: 1 / -1;
				grid-row: 1 / span 1;
				justify-self: end;
				margin: 2.4rem;
			}

			&__title {
				grid-row: 2 / span 1;
				padding: 2.4rem 1rem;
				border-top: 4px solid $color-magenta-outline;
				border-bottom: 4px solid $color-magenta-outline;
			}

			&__available {
				font-size: $font-size-1;
				margin-top: 1rem;
				line-height: 1.5;
			}

			&__price {
				grid-row: 3 / span 1;

				display: grid;
				grid-template-columns: repeat(2, max-content);
				column-gap: 1.6rem;
				place-content: center;
				align-items: baseline;
			}

			&__eth {
				font-size: $font-size-3;
			}

			&__USD {
				font-size: $font-size-1;
				font-family: $font-paragraph;
			}
		}
	}

	&__back {
		background-color: white;
		color: $color-mauve;
		transform: rotateY(180deg);

		// TODO: REMOVE!!
		// z-index: 2;

		display: grid;
		grid-template-rows: min-content 1fr;

		.card {
			&__info-title {
				line-height: 1.5;
				font-size: 2rem;
				font-weight: 300;
			}

			&__info-desc {
				line-height: 1.5;

				font-size: 2.8rem;
				font-weight: 700;
			}
		}

		&-top {
			display: grid;
			grid-template-rows: 12rem min-content;
			grid-template-columns: repeat(3, 1fr);
			// align-content: center;
			// row-gap: 1rem;
			padding-bottom: 1.84rem;

			.card {
				&__name {
					grid-column: 1 / -1;
					grid-row: 1 / span 1;
					align-self: center;
					// margin-bottom: 4.3rem;
				}

				&__btn {
					grid-column: 1 / -1;
					grid-row: 1 / span 1;
					justify-self: end;
					margin: 2.4rem;
				}

				&__info-icon {
					transform: scale(0.96);
					margin-bottom: 0.5rem;
				}
			}
		}

		&-bottom {
			padding-top: 3.1rem;
			padding: 2.4rem;
			background-color: $color-sunshine;

			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, min-content);
			gap: 2.8rem 3rem;

			.card {
				&__attributes-title {
					font-size: $font-size-3;
					font-family: $font-paragraph;
					font-weight: bold;

					color: $color-magenta;
					grid-column: 1 / -1;
					margin-bottom: 1rem;
				}

				&__attribute {
					display: grid;
					grid-template-columns: min-content 1fr;
					align-items: end;
					justify-items: start;
					column-gap: 2rem;

					&-icon {
						grid-column: 1 / span 1;
						grid-row: 1 / span 2;
						align-self: center;
						transform: scale(0.95);
					}

					.card__info-title {
						align-self: end;
					}

					.card__info-desc {
						align-self: start;
					}
				}
			}
		}
	}
}
