@import "base.scss";

.card {
	position: relative;
	cursor: pointer;
	margin-bottom: 3rem;
	height: 70.5rem;
	perspective: 160rem;

	@include respond(laptop) {
		height: 65rem;
	}

	&--clicked {
		.card__front {
			transform: rotateY(-180deg);
		}

		.card__back {
			transform: rotateY(0);
		}
	}

	&--modal {
		width: 48.5rem;
		.card__back {
			transform: rotateY(0);
			cursor: auto;
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 0.8rem;
		left: 0.8rem;
		z-index: -1;

		height: 100%;
		width: 100%;
		border: 3px solid $color-magenta-outline;
		border-radius: 4px;
		background: $background-gradient;
		transition: 0.3s all;
	}

	@media (hover: hover) {
		&--not-mobile:hover::before {
			top: 0;
			left: 0;
		}
	}

	@include respond(tab-land) {
		&__wrapper {
			// TODO: REMOVE THIS
			min-width: 52rem;
			margin: auto;
		}
	}

	&__front,
	&__back {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		backface-visibility: hidden;
		transition: all 0.8s;
		border-radius: 4px;
		border: 4px solid $color-magenta-outline;
		color: $color-magenta;
	}

	&__front {
		background-color: white;

		display: grid;
		grid-template-rows: repeat(2, min-content); // ?: 34.4rem - 4px top and bottom border = 33.6rem
		// grid-template-columns: minmax(min-content, max-content);
		// display: none;
		z-index: 1;

		.card {
			&__image-container {
				background-color: $color-mauve-80;
				display: grid;
				place-content: center;
				grid-column: 1 / -1;
				grid-row: 1 / span 1;
				height: 47.7rem;

				@include respond(laptop) {
					height: 40rem;
				}
			}

			&__image {
				// ?: For some reason, setting the width and height prevents the image from showing up on samsung internet browser but not on chrome or firefox
				transform: scale(0.5);

				@include respond(laptop) {
					transform: none;
				}

				@include respond(phone) {
					transform: scale(0.8);
				}
			}

			&__btn {
				grid-column: 1 / -1;
				grid-row: 1 / span 1;
				justify-self: end;
				margin: 2.4rem;

				@include respond(laptop) {
					margin: 1.5rem;
				}

				@include respond(phone) {
					width: 4.5rem;
					height: 4.5rem;
				}
			}

			&__title {
				grid-row: 2 / span 1;
				padding: 2.4rem 1rem;
				border-top: 4px solid $color-magenta-outline;
				border-bottom: 4px solid $color-magenta-outline;
			}

			&__available {
				font-size: $font-size-1;
				margin-top: 1rem;
				line-height: 1.5;
			}

			&__price {
				grid-row: 3 / span 1;

				display: grid;
				grid-template-columns: repeat(2, max-content);
				column-gap: 1.6rem;
				place-content: center;
				align-items: baseline;
			}

			&__eth {
				font-size: $font-size-3;
			}

			&__USD {
				font-size: $font-size-1;
				font-family: $font-paragraph;
			}
		}
	}

	&__back {
		background-color: white;
		color: $color-mauve;
		transform: rotateY(180deg);

		// TODO: REMOVE!!
		// z-index: 2;

		display: grid;
		grid-template-rows: min-content 1fr;

		.card {
			&__info-title {
				line-height: 1.5;
				font-size: 2rem;
				font-weight: 300;

				@include respond(laptop) {
					font-size: 1.8rem;
				}
			}

			&__info-desc {
				line-height: 1.5;

				font-size: 2.8rem;
				font-weight: 700;

				@include respond(laptop) {
					font-size: 2.5rem;
				}
			}
		}

		&-top {
			display: grid;
			grid-template-rows: 12rem min-content;
			grid-template-columns: repeat(3, 1fr);
			// align-content: center;
			// row-gap: 1rem;
			padding-bottom: 1.84rem;

			@include respond(laptop) {
				grid-template-rows: min-content min-content;
			}

			@include respond(phone) {
				grid-template-rows: 13rem min-content;
			}

			.card {
				&__name {
					grid-column: 1 / -1;
					grid-row: 1 / span 1;
					align-self: center;
				}

				&__btn {
					grid-column: 1 / -1;
					grid-row: 1 / span 1;
					justify-self: end;
					margin: 2.4rem;
					cursor: pointer;

					@include respond(phone) {
						width: 4.5rem;
						height: 4.5rem;
						margin: 1.5rem;
					}
				}

				&__info-icon {
					width: 10rem;
					height: 10rem;
					margin-bottom: 0.5rem;

					@include respond(phone) {
						width: 8.5rem;
						height: 8.5rem;
					}
				}
			}
		}

		&-bottom {
			padding-top: 3.1rem;
			padding: 2.4rem;
			background-color: $color-sunshine;

			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, min-content);
			gap: 2.8rem 3rem;

			@include respond(laptop) {
				padding: 2rem;
			}

			.card {
				&__attributes-title {
					font-size: $font-size-3;
					font-family: $font-paragraph;
					font-weight: bold;

					color: $color-magenta;
					grid-column: 1 / -1;
					margin-bottom: 1rem;

					@include respond(laptop) {
						margin-bottom: 0.5rem;
					}
				}

				&__attribute {
					display: grid;
					grid-template-columns: min-content 1fr;
					align-items: end;
					justify-items: start;
					column-gap: 2rem;

					@include respond(laptop) {
						// column-gap: 0.5rem;
					}

					&-icon {
						grid-column: 1 / span 1;
						grid-row: 1 / span 2;
						align-self: center;
						height: 8rem;
						width: 8rem;

						@include respond(phone) {
							width: 7rem;
							height: 7rem;
						}
					}

					.card__info-title {
						align-self: end;
					}

					.card__info-desc {
						align-self: start;
					}
				}
			}
		}
	}
}
