@import "base.scss";

.modalAnimation-enter {
	opacity: 0;

	aside.modal {
		transform: scale(0);
	}
}

.modalAnimation-enter-active {
	transition: all 0.3s;
	opacity: 1;
}

.modalAnimation-exit {
	opacity: 1;

	aside.modal {
		transform: scale(1);
	}
}

.modalAnimation-exit-active {
	opacity: 0;
	transition: all 0.3s 0.2s;

	aside.modal {
		transform: scale(0);
	}
}

.modal__container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 15;

	place-content: center;
	display: grid;
}

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	background-color: rgba(black, 0.8);
	// backdrop-filter: blur(10px); // TODO: To use a blur filter or not?
}

// TODO:

aside.modal {
	text-align: center;
	position: relative;
	z-index: 20;
	transition: all 0.3s;

	&--wallet {
		border: 4px solid $color-magenta-outline;
		width: 50rem;
		border-radius: 4px;
		background-color: white;
		display: grid;
	}


	.modal {
		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 2rem;
			width: 100%;
			border-bottom: 4px solid $color-magenta;
			margin-bottom: 3rem;

			&-text {
				font-family: $font-display;
				color: $color-magenta;
				font-size: $font-size-2;
			}
		}

		&__close-icon {
			transform: scale(0.85);
			cursor: pointer;
		}

		&__btn {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1rem;
			margin-bottom: 3rem;
			justify-self: center;
			width: 90%;

			&-text {
				font-size: $font-size-3;
			}
		}

		&__payment-icon {
			transform: scale(0.85);
		}
	}
}
