@import "base.scss";

// ?: Default size: large
// ?: Default style: primary

$large-height: 8.8rem;
$large-width: 48.6rem;

$small-height: 6.4rem;
$small-width: 19.4rem;

$mobile-height: 10.2rem;
$mobile-width: 28.4rem;

button.btn {
	height: $large-height;
	width: 100%;
	border: 3px solid $color-magenta-outline;
	border-radius: 4px;
	outline: none;
	font-size: $font-size-3;

	background-color: $color-magenta;
	color: white;
	font-family: inherit;

	position: relative;
	cursor: pointer;
	// z-index: 2;

	&::before {
		content: "";
		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
		z-index: -1;

		box-sizing: content-box;

		height: 100%;
		width: 100%;
		border: 3px solid $color-magenta-outline;
		border-radius: 4px;
		background: $background-gradient;

		transition: 0.3s all;
	}

	@media (hover: hover) {
		&--not-mobile:hover::before {
			top: 0;
			left: 0;
		}
	}

	&--small {
		// width: $small-width;
		// height: $small-height;

		// ?: For laptop size (14/16 of actual)
		height: 5.6rem;

		font-size: $font-size-1;

		@include respond(tab-port) {
			height: 55px;
			font-size: 20px;
		}
	}

	&--navbar {
		width: 255px;
		height: 64px;
		font-size: 21.3px;

		@media (min-width: 950px) and (max-width: 1700px) {
			width: 204px;
			height: 51.2px;
			font-size: $font-size-1;
		}
	}

	&--mobile {
		width: $mobile-width;
		height: $mobile-height;
	}

	&--secondary {
		background-color: $color-mauve-80;
		border: 3px solid $color-mauve;

		&:before {
			border: 3px solid $color-mauve;
		}
	}

	&--tertiary {
		background-color: white;
		color: $color-magenta;
	}

	&--full-width {
		width: 100%;
	}
}
