@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

@font-face {
	font-family: "Funnier";
	src: url("../fonts/Funnier.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Hamburg Hand";
	src: url("../fonts/HamburgHand-Regular.otf") format("opentype");
	font-weight: 400;
}

@font-face {
	font-family: "Hamburg Hand";
	src: url("../fonts/HamburgHand-Bold.otf") format("opentype");
	font-weight: 700;
}

@font-face {
	font-family: "Hamburg Hand";
	src: url("../fonts/HamburgHand-Light.otf") format("opentype");
	font-weight: 300;
}

// MIXINS
@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		// ?: Only applies to screens, not printed
		@media only screen and (max-width: 650px) {
			@content;
		}
	}

	@if $breakpoint == tab-port {
		@media only screen and (max-width: 950px) {
			@content;
		}
	}

	@if $breakpoint == tab-land {
		@media (max-width: 1250px) and (min-width: 951px) {
			@content;
		}
	}

	@if $breakpoint == laptop {
		@media (max-width: 1700px) {
			@content;
		}
	}
}

// FUNCTIONS
@function pow($base, $exponent) {
	$result: 1;

	@for $_ from 1 through $exponent {
		$result: $result * $base;
	}

	@return $result;
}

// PRIMARY COLOR VARIABLES
$color-magenta: #fd247b;
$color-magenta-80: #ff80b3;
$color-magenta-60: #ffbfd9;
$color-magenta-outline: #dc2e74;

$color-mauve: #663362;
$color-mauve-80: #995c94;
$color-mauve-60: #cda5ca;

// SECONDARY COLOR VARIABLES
$color-linen: #fff2ec;
$color-sunshine: #fcd999;
$color-blue: #6bddef;
$color-pastel-green: #c8e5a1;
$color-sky: #a9e5f1;

// GRADIENT COLORS
$background-gradient: linear-gradient(
	23.9deg,
	$color-blue,
	$color-mauve-60,
	$color-magenta-60
); //?: $color-mauve-2 or #9774b5?
$NFT-gradient: linear-gradient(to top right, $color-blue, $color-magenta-60, $color-sunshine);

// FONT VARIABLES
$font-display: "Funnier", sans-serif;
$font-paragraph: "Hamburg Hand", sans-serif;

$font-type-scale: 1.333;

// FONT SIZES
$font-size-default: 1.6rem;

$font-size-1: pow($font-type-scale, 1) * $font-size-default; // 21.28px
$font-size-2: pow($font-type-scale, 2) * $font-size-default; // 28.3px
$font-size-3: pow($font-type-scale, 3) * $font-size-default; // 37.6px
$font-size-4: pow($font-type-scale, 4) * $font-size-default; // 50.06px
$font-size-5: pow($font-type-scale, 5) * $font-size-default; // 66.6px

// LAYOUT VARIABLES
$grid-columns: [full-start] minmax(6rem, 1fr) [center-start]
	repeat(8, [col-start] minmax(min-content, 20rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

$laptop-grid-columns: [full-start] minmax(8rem, 1fr) [center-start]
	repeat(8, [col-start] minmax(min-content, 20rem) [col-end]) [center-end] minmax(8rem, 1fr) [full-end];

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	// font-size: 62.5%;
	font-size: 10px;
	-webkit-text-size-adjust: none;

	@include respond(laptop) {
		// font-size: 50%;
		font-size: 8px;
	}

	@include respond(tab-land) {
		// font-size: 45%;
		font-size: 7.2px;
	}

	@include respond(tab-port) {
		// font-size: 37.5%;
		font-size: 6px;
	}

	@include respond(phone) {
		// font-size: 37.5%;
		font-size: 6px;
	}
}

body {
	font-family: $font-paragraph;
	font-size: $font-size-default;
	font-weight: 400;
	color: $color-magenta;
	-webkit-tap-highlight-color: transparent;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}
